# Backend Environment Configuration
FLASK_SECRET=supersecretkey
MONGO_URI=mongodb://127.0.0.1:27017/medicine_reminder
DB_NAME=medicine_reminder

# Gmail Credentials for Reminders
SENDER_EMAIL=your_email@gmail.com
SENDER_PASSWORD=your_gmail_app_password

# Frontend URL (for password reset links)
FRONTEND_URL=http://127.0.0.1:5500
